{% extends "main.html" %}
{% load static %}
{% block title %}
  ENACTUS JMI- ABOUT US
{% endblock title %}
{% block content %} 
<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169293/Website/site/media/website/images/about1_bumwq5.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

          <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href={% url 'site:index' %}>Home</a></span> <span>About</span></p>
              <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
      <div class="container">
          <div class="row d-md-flex">
              <div class="col-md-6 ftco-animate img about-image" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169291/Website/site/media/website/images/about2_yxap8m.jpg);">
              </div>
              <div class="col-md-6 ftco-animate p-md-5">
                  <div class="row">
                <div class="col-md-12 nav-link-wrap mb-5">
                  <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

                    <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>
                    <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
                  </div>
                </div>
                <div class="col-md-12 d-flex align-items-center">
                  
                  <div class="tab-content ftco-animate" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
                        <div>
                          <!-- <h2 class="mb-4 ">Offering Reliable Hosting</h2> -->
                            <p>Founded in 1975 by Robert T. Davis, Enactus- formerly known as Students in Free Enterprise, is a non-profit organization that brings students, and business/academic leaders together through the power of entrepreneurial action to improve the quality of life and standard of living for those in need.</p>
                          <p> It is now present in over 37 countries with more than 1700 university programmes, creating a network and engagement of more than 70,000 students, industry experts and professionals. Enactus consists of 95 teams with 4217 active members, and 49 projects in India itself.</p>
                          </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                      <div>
                          <!-- <h2 class="mb-4">Exceptional Web Solutions</h2> -->
                            <p>Aligning the views of the founders of the university with that of Enactus, Jamia Millia Islamia and Enactus came together in 2015. Combining the values of plurality and progress with that of integrity and innovation, Enactus JMI has successfully managed to meet the needs of the underprivileged communities as well as accomplish the mission of bringing great impact in the lives of its people, through various business-oriented environmentally friendly projects. </p>
                          <p>Our current projects, Project Irtiqa and Project Imdaad, have helped us achieve greater heights in terms of entrepreneurship and social welfare</p>
                          </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
                      <div>
                          <!-- <h2 class="mb-4">Help Our Customer</h2> -->
                            <p>Since its onset in 2015, Enactus JMI has been continuously striving towards the path of bringing light into the lives of the impoverished. With only 20 initial members, Enactus JMI is now a family of over 100 talented members. Our team consists of talented and dedicated students with a head for business and a heart for the world, who are determined to work for the upliftment and betterment of the society.
                      </p>
                          <p> With the objective of bringing a sustainable change in the lives of the people involved, we at Enactus JMI, not only strive to facilitate our capabilities and knowledge to the people in need but also learn the virtues of life from them as well. We believe and work towards creating value from an opportunity, and making a positive impact in the lives of people from underprivileged communities through sustainable business models. We have successfully taken up 6 projects till now with 2 of them currently in play, namely Project Irtiqa and Imdaad.
                    </p>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <!-- <span class="subheading">Customer Says</span> -->
          <h2 class="mb-4">OUR ALUMNI</h2>
          <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p> -->
        </div>
      </div>
      <div class="row ftco-animate">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169314/Website/site/media/website/images/Sarthak_pvn2g1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">To me, the goal of Enactus is not only to encourage others to face challenges but also to work along with them, to motivate them. As a mentor, I hope to do so by displaying qualities of pure hard work.</p>
                    <p class="name">Sarthak Bhagat</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169301/Website/site/media/website/images/Ibad_kdudgk.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">
                 I believe in guiding the team to do justice to the sponsorships offered to Enactus as well as to the company offering it.</p>
                     <p class="name">Ibad Rather</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169300/Website/site/media/website/images/Hammad_up7smp.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">I had the opportunity being a part of Enactus JMI for the past couple of years. As a team, we have grown exponentially and our achievements substantiate the same. I believe its always important to recognize personal development along with material outcomes.</p>
                     <p class="name">Mohammad Hammad</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169305/Website/site/media/website/images/Kafil_f7kzlv.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">
                  Being Realistic is most essential for me. I seek to lead the team with clarity and transparency. My sole belief is in creating a sustainable business for the communities.</p>
                     <p class="name">Mohammad Kafil</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169308/Website/site/media/website/images/Madiha_at4jsv.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">
                    {% comment %} <h5>Alumni Mentor</h5> {% endcomment %}
                    I've got to learn so much and this is my favourite thing about Enactus; how it brings a positive change in your personality.</p>
                    <p class="name">Madiha Musarrat</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169310/Website/site/media/website/images/mehnaz_ejlz82.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">To reflect upon my time in Enactus JMI induces a profound meaning in me. What I see is an
                    opportunity to explore, learn and implement. With utmost honesty, I believe, the team can achieve
                    what it aspires to. As an alumna, I endeavour to assist the team in all the possible ways.
                     
                    </p><p class="name">Mehnaz Hussain</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169314/Website/site/media/website/images/Saurabh_g9k1ui.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">I always strive to stick onto principles of honesty and integrity. I like to show my commitment towards my post through visionary ideas for the upliftment of underprivileged groups.</p>
                  <p class="name">Saurabh Suman</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-5" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169315/Website/site/media/website/images/suchi_x2xvq2.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5"> I believe the basic attribute of mankind is to look after each other and at enactus with a head of business and a heart for the world, we get to live our values of integrity and support for each other in such a way that it brings out the best in us.
                    My experience at enactus has been one full of hopes, I have got to learn how small actions can bring in huge changes in the lives of others and that's something that will remain with me for life.
                     
                    </p><p class="name">Suchi Aeron</p>
                  <span class="position">Alumni Mentor</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}