{% extends "main.html" %} {% load static %} {% block title %} ENACTUS JMI| HOME {% endblock title %} 
{% block css %}
{% endblock css %}
{% block content %}
<link rel="stylesheet" href={% static "css/material-photo-gallery.css" %}>
<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623182013/Website/site/media/website/gallery/DSC_0899_gwhmqi.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

          <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Gallery</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Gallery</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="gallery-section" >
<hr>
  <div id="gallery" class="m-p-g">
    <div class="m-p-g__thumbs" id="max-height" data-google-image-layout data-max-height="480">
      <img id="img2" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182422/Website/site/media/website/gallery/thumbnails/IMG_20180314_143151_265_mmhlrm.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182016/Website/site/media/website/gallery/IMG_20180314_143151_265_zsbrin.jpg" class="m-p-g__thumbs-img " />
      <img id="img3" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182422/Website/site/media/website/gallery/thumbnails/IMG_20170527_165707263_nhudmg.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182016/Website/site/media/website/gallery/IMG_20170527_165707263_melfsp.jpg" class="m-p-g__thumbs-img " />
      <img id="img5" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182421/Website/site/media/website/gallery/thumbnails/IMG_1061_ea2bew.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182015/Website/site/media/website/gallery/IMG_1061_eyg992.jpg" class="m-p-g__thumbs-img " />
      <img id="img6" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182421/Website/site/media/website/gallery/thumbnails/IMG_1039_ptfzlh.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182014/Website/site/media/website/gallery/IMG_1039_gaiikv.jpg" class="m-p-g__thumbs-img " />
      <img id="img4" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182422/Website/site/media/website/gallery/thumbnails/IMG_1064_yxye8e.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182016/Website/site/media/website/gallery/IMG_1064_xsbcoo.jpg" class="m-p-g__thumbs-img " />
      <img id="img7" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182420/Website/site/media/website/gallery/thumbnails/IMG_1024_db7zgd.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182013/Website/site/media/website/gallery/IMG_1024_mw9jmx.jpg" class="m-p-g__thumbs-img " />
      <img id="img8" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182420/Website/site/media/website/gallery/thumbnails/IMG_1011_r1c0go.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182013/Website/site/media/website/gallery/IMG_1011_cxdkvi.jpg" class="m-p-g__thumbs-img " />
      <img id="img9" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182419/Website/site/media/website/gallery/thumbnails/IMG_1007_ujobj1.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182014/Website/site/media/website/gallery/IMG_1007_yr2ou4.jpg" class="m-p-g__thumbs-img " />
      <img id="img10" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182421/Website/site/media/website/gallery/thumbnails/DSC_0899_z3xbyt.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182013/Website/site/media/website/gallery/DSC_0899_gwhmqi.jpg" class="m-p-g__thumbs-img " />
      <img id="img11" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182419/Website/site/media/website/gallery/thumbnails/DSC_0887_pdbiou.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182014/Website/site/media/website/gallery/DSC_0887_iulbyw.jpg" class="m-p-g__thumbs-img " />
      <img id="img12" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182417/Website/site/media/website/gallery/thumbnails/DSC_0807_x6rfd2.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182010/Website/site/media/website/gallery/DSC_0807_pen1s9.jpg" class="m-p-g__thumbs-img " />
      <img id="img13" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182417/Website/site/media/website/gallery/thumbnails/DSC_0703_zkmxf3.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182010/Website/site/media/website/gallery/DSC_0703_a0582l.jpg" class="m-p-g__thumbs-img " />
      <img id="img14" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182417/Website/site/media/website/gallery/thumbnails/DSC_0632_te7t3y.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182010/Website/site/media/website/gallery/DSC_0632_xujsyj.jpg" class="m-p-g__thumbs-img " />
      <img id="img15" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182416/Website/site/media/website/gallery/thumbnails/DSC_0628_koztts.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182009/Website/site/media/website/gallery/DSC_0628_kfq2kc.jpg" class="m-p-g__thumbs-img " />
      <img id="img16" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182420/Website/site/media/website/gallery/thumbnails/DSC_0587_ytuszk.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182010/Website/site/media/website/gallery/DSC_0587_rc8vwj.jpg" class="m-p-g__thumbs-img " />
      <img id="img17" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182414/Website/site/media/website/gallery/thumbnails/DSC_0514_evklhj.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182007/Website/site/media/website/gallery/DSC_0514_s33cmm.jpg" class="m-p-g__thumbs-img " />
      <img id="img18" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182414/Website/site/media/website/gallery/thumbnails/DSC_0512_nggr4l.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182007/Website/site/media/website/gallery/DSC_0512_whff1q.jpg" class="m-p-g__thumbs-img " />
      <img id="img19" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182413/Website/site/media/website/gallery/thumbnails/DSC_0427_clfhzq.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182008/Website/site/media/website/gallery/DSC_0427_pug2go.jpg" class="m-p-g__thumbs-img " />
      <img id="img20" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182414/Website/site/media/website/gallery/thumbnails/DSC_0405_qcrcd3.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182007/Website/site/media/website/gallery/DSC_0405_cevapc.jpg" class="m-p-g__thumbs-img " />
      <img id="img21" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182412/Website/site/media/website/gallery/thumbnails/DSC_0322_nq3ze5.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182006/Website/site/media/website/gallery/DSC_0322_phofrg.jpg" class="m-p-g__thumbs-img " />
      <img id="img22" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182413/Website/site/media/website/gallery/thumbnails/DSC_0254_ycp5dg.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182006/Website/site/media/website/gallery/DSC_0254_io34m2.jpg" class="m-p-g__thumbs-img " />
      <img id="img23" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182412/Website/site/media/website/gallery/thumbnails/DSC_0193_ppazmm.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182005/Website/site/media/website/gallery/DSC_0193_hlohhr.jpg" class="m-p-g__thumbs-img " />
      <img id="img24" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182414/Website/site/media/website/gallery/thumbnails/DSC_0192_yoojz4.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182004/Website/site/media/website/gallery/DSC_0192_ktgblx.jpg" class="m-p-g__thumbs-img " />
      <img id="img25" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182411/Website/site/media/website/gallery/thumbnails/DSC_0094_sbsfxo.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182005/Website/site/media/website/gallery/DSC_0094_qnz85f.jpg" class="m-p-g__thumbs-img " />
      <img id="img26" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182411/Website/site/media/website/gallery/thumbnails/DSC_0088_mu7iae.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182005/Website/site/media/website/gallery/DSC_0088_o2o3pq.jpg" class="m-p-g__thumbs-img " />
      <img id="img27" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182410/Website/site/media/website/gallery/thumbnails/DSC_0063_ow3g8h.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182001/Website/site/media/website/gallery/DSC_0063_ratfw5.jpg" class="m-p-g__thumbs-img " />
      <img id="img28" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182411/Website/site/media/website/gallery/thumbnails/DSC_0038_ezdcrk.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182000/Website/site/media/website/gallery/DSC_0038_zzjnld.jpg" class="m-p-g__thumbs-img " />
      <img id="img29" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182410/Website/site/media/website/gallery/thumbnails/DSC_0030_a7qkdq.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623181999/Website/site/media/website/gallery/DSC_0030_vgmp3b.jpg" class="m-p-g__thumbs-img " />
      <img id="img30" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182409/Website/site/media/website/gallery/thumbnails/DSC_0018_cploat.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182002/Website/site/media/website/gallery/DSC_0018_d2d8an.jpg" class="m-p-g__thumbs-img " />
      <img id="img31" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182409/Website/site/media/website/gallery/thumbnails/DSC03382_ojuxva.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623182003/Website/site/media/website/gallery/DSC03382_rvbs8c.jpg" class="m-p-g__thumbs-img " />
      <img id="img32" src="https://res.cloudinary.com/enactusjmi/image/upload/v1623182409/Website/site/media/website/gallery/thumbnails/DSC01683_mtzkaf.jpg" data-full="https://res.cloudinary.com/enactusjmi/image/upload/v1623181998/Website/site/media/website/gallery/DSC01683_sj4tko.jpg" class="m-p-g__thumbs-img " />
      <!-- <img src="" data-full="" class="m-p-g__thumbs-img ftco-animate" /> -->

      

      
    </div>
  
    <div class="m-p-g__fullscreen"></div>
  </div>
  <hr>

</section>
<script>
    var elem = document.querySelector('.m-p-g');
  
    document.addEventListener('DOMContentLoaded', function() {
      var gallery = new MaterialPhotoGallery(elem);
    });
  </script>
<script src={% static "js/material-photo-gallery.js" %}></script>

{% endblock %}