{% extends "main.html" %} {% load static %} {% block title %} ENACTUS JMI| FEATURED {% endblock title %} 
{% block css %}
{% endblock css %}
{% block content %}
<link rel="stylesheet" href={% static "css/media.css" %}>

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623495452/Website/site/media/website/images/mediacover_vogylb.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

          <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Featured</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Featured</h1>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
<div class="ui main text container"> 
  <div class="ui huge header">
  </div>
  <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
            <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623494704/Website/site/media/website/images/IndianEducationDiary2_r14urc.png">
          </div>
        <div class="content">
          <a class="header" href="https://indiaeducationdiary.in/enactus-jamia-millia-islamia-bags-first-runner-up-position-in-the-fifth-national-social-enterprise-idea-challenge/"
          target="_blank" rel="noopener noreferrer">Enactus Jamia Millia Islamia Bags First Runner Up Position In The Fifth National Social Enterprise Idea Challenge - India Education Diary  </a>
          <div class="meta">
          <span>24.12.2020</span>   
        </div>  
        <div class="description">
          <p>New Delhi: Enactus Jamia Millia Islamia(JMI) bagged the first runner up position in the fifth National Social Enterprise Idea Challenge, hosted by Azim Premji University on 19th December, 2020.
Enactus JMI team left a mark through its project ‘Shrimati’ ...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://indiaeducationdiary.in/enactus-jamia-millia-islamia-bags-first-runner-up-position-in-the-fifth-national-social-enterprise-idea-challenge/"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
              <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623494794/Website/site/media/website/images/TheNewsStrike_lvijd9.png">
         
        </div>
        <div class="content">
          <a class="header" href="https://thenewsstrike.com/enactus-jmi-bags-first-runner-up-position-in-the-fifth-national-social-enterprise-idea-challenge/"
          target="_blank" rel="noopener noreferrer">ENACTUS JMI BAGS FIRST RUNNER UP POSITION IN THE FIFTH NATIONAL SOCIAL ENTERPRISE IDEA CHALLENGE-The News Strike </a>
          <div class="meta">
          <span>23.12.2020</span>   
        </div>  
        <div class="description">
          <p>Enactus Jamia Millia Islamia (JMI) bagged the first runner up position in the fifth National Social Enterprise Idea Challenge, hosted by Azim Premji University on 19th December, 2020.Enactus JMI team left a mark through its project ‘Shrimati’ which revolves around targeting the issues of unemployment, domestic abuse, plastic pollution ...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://thenewsstrike.com/enactus-jmi-bags-first-runner-up-position-in-the-fifth-national-social-enterprise-idea-challenge/"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623494867/Website/site/media/website/images/BWEducation_ndoxg4.png">
        </div>
        <div class="content">
          <a class="header" href="http://bweducation.businessworld.in/article/Azim-Premji-University-Announces-The-Winners-Of-Its-5th-Social-Enterprise-Idea-Challenge/21-12-2020-356134/"
          target="_blank" rel="noopener noreferrer">Azim Premji University Announces The Winners Of Its 5th Social Enterprise ‘Idea’ Challenge - BW Education</a>
          <div class="meta">
          <span>21.12.2020</span>   
        </div>  
        <div class="description">
          <p>1st Runner Up

Enactus JMI from Jamia Millia Islamia, New Delhi

Project Description - Aims to manufacture biodegradable face masks and sanitary napkins, both of which would be made from abaca fiber, to reduce the accumulation of waste and offer a cheap and effective...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="http://bweducation.businessworld.in/article/Azim-Premji-University-Announces-The-Winners-Of-Its-5th-Social-Enterprise-Idea-Challenge/21-12-2020-356134/" 
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623494927/Website/site/media/website/images/TheHindu_ejxyhc.png">
        </div>
        <div class="content">
          <a class="header" href="images/TheHindu.PNG" target="_blank" 
        	rel="noopener noreferrer">Social enterprise idea challenge winner - The Hindu</a>
          <div class="meta">
          <span>20.12.2020</span>   
        </div>  
        <div class="description">
          <p>Azim Premji University on Saturday announced the winners of its Social Enterprise "Idea" Challenge, which was on the response to the COVID-19 pandemic crisis. 
          In its fifth year,the challenge received 85 submissions from students across India, from which 10teams were shortlisted for final presentation and selection of winners, said a press release.
        The winning team...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="images/TheHindu.PNG" target="_blank" 
        	rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623494973/Website/site/media/website/images/GlobalPrimeNews_mxtklb.png">
        </div>
        <div class="content">
          <a class="header" href="https://globalprimenews.com/2020/12/20/azim-premji-university-announces-the-winners-of-its-5th-social-enterprise-idea-challenge/" target="_blank" rel="noopener noreferrer">Azim Premji University announces the winners of its 5th Social Enterprise ‘Idea’ Challenge- Global Prime News </a>
          <div class="meta">
          <span>20.12.2020</span>   
        </div>  
        <div class="description">
          <p>1st Runner Up

Enactus JMI from Jamia Millia Islamia, New Delhi

Project Description – Aims to manufacture biodegradable face masks and sanitary napkins, both of which would be made from abaca fiber, to reduce the accumulation of waste and offer a cheap and effective alternative to disposable masks...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://globalprimenews.com/2020/12/20/azim-premji-university-announces-the-winners-of-its-5th-social-enterprise-idea-challenge/"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495018/Website/site/media/website/images/EduAdvice_aon7q8.png">
        </div>
        <div class="content">
          <a class="header" href="https://eduadvice.in/home/NewsDetail?pid=33279"
          target="_blank" rel="noopener noreferrer">Enactus JMI bags first runner up position in the fifth National Social - EduAdvice </a>
          <div class="meta">
          <span>06.01.2020</span>   
        </div>  
        <div class="description">
          <p>New Delhi. Enactus Jamia Millia Islamia(JMI) bagged the first runner up position in the fifth National Social Enterprise Idea Challenge, hosted by Azim Premji University on 19th December, 2020.

Enactus JMI team left a mark through its project ‘Shrimati’ which revolves around targeting the issues of unemployment, domestic abuse, plastic pollution as well as sanitary waste disposal.

‘Shrimati’ aims to manufacture biodegradable face masks ...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://eduadvice.in/home/NewsDetail?pid=33279"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495068/Website/site/media/website/images/DigitalFY_onpq9z.png">
        </div>
        <div class="content">
          <a class="header" href="https://digitalfyme.com/jmi-team-enactus-wins-confluence-on-entrepreneurship-award-2020/" target="_blank" rel="noopener noreferrer">JMI Team Enactus Wins Confluence On Entrepreneurship Award 2020 - DigitalFYME </a>
          <div class="meta">
          <span>06.01.2020</span>   
        </div>  
        <div class="description">
          <p>New Delhi:

Jamia Millia Islamia (JMI) University team ‘Enactus’ has been declared the winner at Confluence on Entrepreneurship 2020. The Confluence was organised by Tata Institute of Social Sciences, Tuljapur on December 30, 2020. The award comprises a Certificate of Excellence and mentorship sessions.

The JMI team Enactus had proposed...</p>      
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://digitalfyme.com/jmi-team-enactus-wins-confluence-on-entrepreneurship-award-2020/" 
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495142/Website/site/media/website/images/GoIndiaNews_uhyqoh.png">
        </div>
        <div class="content">
          <a class="header" href="https://goindianews.com/archives/252749"
          target="_blank" rel="noopener noreferrer">JMI Team Enactus Wins Confluence On Entrepreneurship Award 2020 – GoIndiaNews </a>
          <div class="meta">
          <span>06.01.2020</span>   
        </div>  
        <div class="description">
          <p>New Delhi:

Jamia Millia Islamia (JMI) University team ‘Enactus’ has been declared the winner at Confluence on Entrepreneurship 2020. The Confluence was organised by Tata Institute of Social Sciences, Tuljapur on December 30, 2020. The award comprises a Certificate of Excellence and mentorship sessions.

The JMI team Enactus had proposed its project Shrimati. Through Shrimati, Enactus JMI endeavours to tackle the issues of unemployment, domestic abuse, plastic pollution as well as sanitary waste disposal.

For the same project, the team had earlier secured first runner...</p>      
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://goindianews.com/archives/252749"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495205/Website/site/media/website/images/IndiaToday_ssbotk.png">
        </div>
        <div class="content">
          <a class="header" href="https://www.indiatoday.in/education-today/news/story/enactus-jamia-millia-islamia-wins-confluence-on-entrepreneurship-2020-1756548-2021-01-06"
          target="_blank" rel="noopener noreferrer">Enactus Jamia Millia Islamia wins Confluence on Entrepreneurship 2020 - India Today</a>
          <div class="meta">
          <span>06.01.2020</span>   
        </div>  
        <div class="description">
          <p>Team Enactus Jamia Millia Islamia (JMI) was declared the winner at Confluence on Entrepreneurship 2020 organised by Tata Institute Of Social Sciences, Tuljapur on 30th December, 2020.

The confluence had witnessed participation of teams from all over India. The primary objective of the event was to promote enterprise development as an opportunity of livelihood in post-pandemic conditions with the emergence of business models/ approaches to mitigate/ alternatives to counter the ongoing political and economic changes...</p>      
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://www.indiatoday.in/education-today/news/story/enactus-jamia-millia-islamia-wins-confluence-on-entrepreneurship-2020-1756548-2021-01-06"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495235/Website/site/media/website/images/ABPEducationConfluence_zmh4oa.png">
        </div>
        <div class="content">
          <a class="header" href="https://www.abpeducation.com/news/jamias-team-enactus-wins-confluence-of-entrepreneurship-award-2020/cid/1206142?utm_source=twitter&utm_medium=social&utm_campaign=abpedu_twit"
          target="_blank" rel="noopener noreferrer">Jamia’s team Enactus wins Confluence of Entrepreneurship Award 2020 - ABP Education </a>
          <div class="meta">
          <span>06.01.2020</span>   
        </div>  
        <div class="description">
          <p>Jamia Millia Islamia’s (JMI) team Enactus has been declared the winner of the Confluence of Entrepreneurship 2020, organised by the Tata Institute of Social Sciences (TISS) Taljapur on December 30. The award comprises a certificate of excellence and mentorship sessions.

TISS organised the event with an aim to ...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://www.abpeducation.com/news/jamias-team-enactus-wins-confluence-of-entrepreneurship-award-2020/cid/1206142?utm_source=twitter&utm_medium=social&utm_campaign=abpedu_twit"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495273/Website/site/media/website/images/TheNewsStrikeConfluence_sjrttm.png">
        </div>
        <div class="content">
          <a class="header" href="https://thenewsstrike.com/enactus-jmi-wins-confluence-on-entrepreneurship-2020/"
          target="_blank" rel="noopener noreferrer">ENACTUS JMI WINS CONFLUENCE ON ENTREPRENEURSHIP 2020 -  The News Strike</a>
          <div class="meta">
          <span>05.01.2020</span>   
        </div>  
        <div class="description">
          <p>Team Enactus Jamia Millia Islamia (JMI) was declared the winner at Confluence on Entrepreneurship 2020 organised by Tata Institute Of Social Sciences, Tuljapur on 30th December, 2020.The confluence had witnessed participation of teams from all over India.

The primary objective of the event was to promote enterprise development...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://thenewsstrike.com/enactus-jmi-wins-confluence-on-entrepreneurship-2020/"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached segment ftco-animate">
    <div class="ui divided items">
      <div class="item">
        <div class="image img">
          <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623495310/Website/site/media/website/images/NDTV_yfz1ji.png">
        </div>
        <div class="content">
          <a class="header" href="https://www.ndtv.com/education/jmi-team-enactus-wins-confluence-on-entrepreneurship-award-2020"
          target="_blank" rel="noopener noreferrer">JMI Team Enactus Wins Confluence On Entrepreneurship Award 2020 - NDTV</a>
          <div class="meta">
          <span>05.01.2020</span>   
        </div>  
        <div class="description">
          <p>New Delhi: Jamia Millia Islamia (JMI) University team ‘Enactus’ has been declared the winner at Confluence on Entrepreneurship 2020. The Confluence was organised by Tata Institute of Social Sciences, Tuljapur on December 30, 2020. The award comprises a Certificate of Excellence and mentorship sessions.
The JMI team Enactus had proposed its project Shrimati. Through Shrimati, ...</p>     
        </div>
        <div class="extra">
          <a class="ui floated basic violet button read-more" href="https://www.ndtv.com/education/jmi-team-enactus-wins-confluence-on-entrepreneurship-award-2020"
          target="_blank" rel="noopener noreferrer">Read More <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="ui huge header">
  </div>
</div>

</section>

{% endblock %}