{% extends "main.html" %}
{% load static %}
{% block title %}
  ENACTUS JMI|Blog
{% endblock title %}
{% block content %} 

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url({% static "media/website/images/myth1.jpg" %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

            <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href={% url 'site:index' %}>Home</a></span> <span class="mr-2"><a href={% url 'site:blog_list' %}>Blog</a></span> <span>MENSURATION</span></p>
	            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">7 Myths About Menstruation That We Need To Bust Straight Away</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section">
      <div class="container">
        <div class="row" >
          <div class="col-md-8 ftco-animate">
            <!-- <h2 class="mb-3">#1. We Love WordPress Themes</h2> -->
            <p>If you’re a girl, have you ever been a victim or witness of stereotypical notions about
menstruation? Have you ever been shushed to speak about periods (don’t say it loudly) openly?
Have you ever been given seemingly illogical advice on how to walk, talk, bathe or breathe
during periods? If yes, you aren’t alone.</p>
            <p>
              According to a 2016 study titled, “Menstrual hygiene management among adolescent girls in
India involving about 1 Lakh girls in India, nearly 50,000 girls didn’t know about menstruation
until they got their periods”. Additionally, as per an international survey in 2016, there are over
5,000 slang terms and euphemisms for the term ‘periods’. This indicates how reluctant we all
are to treat menstruation as a biologically healthy phenomenon and how shushed an affair it is
kept to be, wrapped in black plastic bags from time immemorial.
            </p>
            <p>With this self-imposed silence come myths and misconceptions that have led generations of
women to be a victim of exclusionary norms without any questioning. A lot of these norms are
behavioral restrictions that, aside from preventing us to talk about periods, also impact our
emotional state, mentality, lifestyle, and most importantly, health.</p>
            
            <p>It’s time to take up the reins in our hands and set straight some menstrual myths. Period!</p>
            <p>
              Here are some myths that need to be busted immediately:
            </p>
            <p>
                <b>1. Menstruating women are dirty & impure</b>
            </p>
            <p>Culturally, in many parts of India, menstruation is still believed to be impure and dirty, and so are
menstruating women. Further, they’re prohibited from entering sacred places and touching holy
books which isn’t only a form of gender inequality but also a violation of human rights like
freedom to practice religion. It doesn’t end here, they’re also restricted from performing tasks of
daily routine and are, in certain cases, forced to live in isolation.</p>
            <p>
            <p>However, it is scientifically known that menstruation is the result of ovulation followed by a
missed chance of pregnancy that leads to bleeding from endometrial vessels and is followed by
preparation of the next cycle. Therefore, it is not only illogical but also ignorant to believe in this
myth.</p>
            <p><b>2. Association with evil spirits, shame & embarrassment</b></p>
            <p>In some cultures, women bury clothes used during menstruation to prevent them from being
used by evil spirits. It is believed that a malignant person can cause harm to a menstruating
woman because menstrual blood is dangerous. Also, women are advised to keep the used pads
unseen and apart from other trash otherwise it could lead to cancer. However, there seems to
be no logical or scientific explanation for these beliefs.</p>
<p><b>3. Restrictions on dietary practices & physical exercise</b></p>
<p>Women are also advised to follow a strict diet during menstruation and abstain from doing any
physical exercise. As far as exercise is concerned, many studies in India and across the world
have proved exercise to be efficient in subsiding menstrual pain alongside making one feel
energized and better.</p>
<p><b>4. Prohibition from bathing</b></p>
<p>Menstruating women are not allowed to wash their hair or bathe during periods which is
completely contradictory to what obstetricians or gynaecologists advise to do. Not bathing is not
only unhygienic but may also lead to reproductive infections.</p>
<p><b>5. Period blood is dirty blood</b></p>
<p>Unlike the widely believed notion, period blood isn’t dirty blood. It isn’t rejected body fluids or
toxins but simply vaginal secretion that contains blood, uterine tissue, mucus lining, and
bacteria. It is, however, different from the blood that flows through our veins in the way that it’s
less concentrated and has fewer blood cells than ordinary blood.</p>
<p><b>6. Menstrual pain is like a headache</b><p>
<p>Menstrual pain or dysmenorrhea isn’t like anything we experience usually. Around 20% of
women have dysmenorrhea which is severe enough to affect their ability to concentrate, make
them more anxious and also, unpleasant on a monthly basis. The pain is bearable but not
talking about it openly and bearing a wide grin when cramp monsters are ripping your uterus off
your fallopian tubes seriously affects our mental health.</p>
<p>So next time if you see your female relative or acquaintance behaving like an irrational weepy
angry hungry monster, don’t ask why.</p>
<p><b>7. Personal issue</b></p>
<p>Menstruation isn’t an issue to be shrouded in secrecy. In 2014, United Nations declared that
menstrual hygiene is a public health issue and a humanitarian crisis, which wouldn’t be there if
we stop treating it as a dirty, gross, and shameful process.</p>
<p>Many women across the world don’t have consistent access to adequate menstrual hygiene
products. According to National Family Health Survey 2015-2016, only 36% (which came down
to 15% during lockdown last year) women use sanitary pads in India while others turn to
unhygienic alternatives such as old cloth, rags, hay, sand, or ash (you read it right).</p>
<p>While sanitary pads are hygienic than the above-mentioned alternatives but these are not
disposable and have an adverse impact on the environment due to the huge amounts of plastic
they contain.</p>
<p><b>Enactus JMI helps to eliminate this issue through Project Shrimati wherein women
produce eco-friendly reusable sanitary pads which are then sold at an affordable price
range in order to encourage the use of eco-friendly sanitary pads and reduce sanitary
waste disposal.</b></p>
<p><u><b>Period talk:</b></u></p>
<p>If we continue to avoid talking about menstruation, we would not only perpetuate these myths
but also wouldn’t do our bit in eliminating this rightly called humanitarian crisis.</p>
<p>Involving male members of the family in the dialogue around menstruation and clearing their
beliefs can also go a long way in eliminating the deeply rooted misconceptions related to
menstruation and cultural taboos. Men and boys know little about it due to which it becomes
equally important for them to understand menstruation so that they can help and support their
female relatives and acquaintances.</p>
<p>Again, to all menstrual buddies, having your periods is a completely and biologically normal
phenomenon. Rather than being ashamed of it, feel proud of what your body is capable of. If
being curled up in your bed and binge-watching rom-coms or scrolling through your mobile
phone the entire day is your thing, do it. Just do what makes you happy!</p>
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Mensuration</a>
                <a href="#" class="tag-cloud-link">Myth</a>
                <a href="#" class="tag-cloud-link">Women</a>
                <a href="#" class="tag-cloud-link">Society</a>
              </div>
            </div>
            
            <div class="about-author d-flex p-5 bg-light">
              <div class="bio align-self-md-center mr-5">
                <!-- <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4"> -->
              </div>
              <div class="desc align-self-md-center">
                <h3>Anam Khan</h3>
                </div>
            </div>


            

          </div> <!-- .col-md-8 -->
          <div class="col-md-4 sidebar ftco-animate">
           
            
            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <!-- <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div> -->
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static "media/website/images/myth1.jpg" %});"></a>
                <div class="text">
                  <h3 class="heading"><a href={% url 'site:myth' %}>7 Myths About Menstruation That We Need To Bust Straight Away</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>Oct 15, 2021</a></div>
                    <div><a href="#"><span class="icon-person"></span>Anam Khan</a></div>
                    
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static "media/website/images/climate1.jpg" %});"></a>
                <div class="text">
                  <h3 class="heading"><a href={% url 'site:climate' %}>Ten Women Shaping Climate Action In 2021</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>Oct 15, 2021</a></div>
                    <div><a href="#"><span class="icon-person"></span>Sultana Parween</a></div>
                    
                  </div>
                </div>
              </div>
            </div>

                        
          </div>

        </div>
      </div>
    </section> <!-- .section -->


    {% endblock content %}