{% extends "main.html" %} {% load static %} {% block title %} ENACTUS JMI|BLOG
{% endblock title %}

 {% block content %}

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169297/Website/site/media/website/images/bimg11_6_wejnbg.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

            <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href={% url 'site:index' %}>Home</a></span> <span class="mr-2"><a href={% url 'site:blog_list' %}>Blog</a></span> <span>Sanitation</span></p>
	            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">SANITATION IN THE TIME OF COVID</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section">
      <div class="container">
        <div class="row" >
          <div class="col-md-8 ftco-animate">
            <!-- <h2 class="mb-3">#1. We Love WordPress Themes</h2> -->
            <p>The corona virus disease 2019 or COVID-19 outbreak has highlighted the importance and necessity of clean water in public health. It has also shown us how much more needs to be done to ensure easy access to clean water and sanitation for all, as a human right and a critical element to save lives during a global health crisis. According to the World Health Organization (WHO), around 2.2 billion people around the world do not have access to safely managed drinking water services, while 4.2 billion people do not have sanitation services and 3 billion lack basic hand washing facilities. Therefore as the world grapples with the scourge of covid-19 today, maintaining high standards of hygiene, continuous supply of clean water and sanitation as advocated by healthcare professionals and the government to prevent further spread of corona virus has become more important than ever.</p>
            <p> 
              <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623169297/Website/site/media/website/images/bimg11_5_ckcjuv.jpg" style="width: 100%;" alt="" class="imgblog-fluid" >
            </p>
            <h3 class="mb-3">Consistent Water Supply</h3>
            <p>Hand washing with soap and water is a critical defense against the spread of COVID-19. Reliable clean water sources are not only vital for washing hands but also for keeping homes and healthcare facilities clean. In India, frequent hand washing as recommended by the World Health Organization (WHO) and Indian Ministry of Health and Family Welfare is practically impossible for large number of people living in urban informal settlements and rural areas. In such areas, water is typically scarce, of poor quality and its supply is erratic thereby making these spaces more vulnerable to the outbreak of pandemic. 
             
            <p> Many water service providers following the government’s guidelines have taken far-reaching measures to supply continuous water- including not suspending connections that would be triggered by unpaid bills and supplying community with charge-free water access through tankers and other means. However, most municipalities lack both capacity and infrastructure to ensure a continuous, equitable safe water supply under the emergency conditions the pandemic has created.</p>
            </p>
            <p>
              <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623169297/Website/site/media/website/images/bimg11_4_ce2smw.jpg" style="width: 100%;" alt="" class="imgblog-fluid" >
            </p>
            <h3 class="mb-3">Waste Disposal</h3>
            <p>As of yet, no studies have attested to the survival of the corona virus in drinking water or wastewater. However, since viral fragments have been found in excrement, wastewater must be treated in well-designed and well-managed treatment facilities to preclude the threat of an outbreak. The need to protect the sanitation workers and informal sludge emptiers through prioritizing systematic supply of personal protective equipment (PPE) and raising sanitation workers’ awareness of the need to comply with barrier measures is crucial right now.</p>
             <p> However, these requirements  do not seem to be treated as the priority in response to COVID-19 in the present day.These workers have had no access to safety equipment and gear while cleaning septic tanks, streets and virus hotspots, even though they are the closest they can be to the dangers of COVID-19. Manual scavenging of sewers and waste sites continue even though they were banned by scavenging acts in 1993 and Prohibition of Employment as Manual Scavengers and Rehabilitation Act 2013.</p>
           <p>  According to reports, In India 90% sanitation workers don’t have health insurance even amid the corona virus crisis. In Delhi, several sanitation workers have contracted the virus since March and in East Delhi, a woman sanitation worker even succumbed to the virus on April 22.
             In the wake of the current crisis, it becomes necessary that the sanitation workers be given immune-booster injections, nutritional supplements, etc. to reduce the risk of them falling victim to the highly transmissible virus. They should be given paid medical leave and should not be forced to work while ill as most workers continue to work through good and bad health out of fear of losing employment. The focus should be on prevention of loss of lives and not compensation post-death.</p>
             <p>
              <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1623169298/Website/site/media/website/images/bimg11_7_piveki.jpg" style="width: 100%;" alt="" class="imgblog-fluid" >
            </p>
             <h3 class="mb-3">Covid Waste</h3>
            <p>  Healthcare facilities are currently producing significant amounts of additional solid-waste- masks, gloves, etc. because of the pandemic. This type of waste is normally sent to the landfills with domestic waste, but during the pandemic must be managed like other hazardous biomedical waste, with measures like incineration and service providers must be appropriately trained. The public should pack their refuse in strong disposable bags that don’t tear off and help reduce the risk of direct exposure for the trash collectors. Irresponsible discarding of masks and gloves should be avoided at all costs for the fear of transmission and other environmental hazards that these pose. In India, with a large presence of strays on the streets, these negligently rejected wastes can even cause severe harm to animals that may consume them. 
              
              Safely managed water, sanitation and hygiene (termed as WASH) services are an essential part of preventing and protecting human health during infectious disease outbreaks such as this pandemic. Now would be a good time for the government authorities to realize that investments in core public health infrastructure which include water and sanitation systems are essential at all times and particularly at this moment to increase pandemic preparedness and curb the spread of the virus.</p>
              <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Environment</a>
                <a href="#" class="tag-cloud-link">Green</a>
                <a href="#" class="tag-cloud-link">Waste</a>
                <a href="#" class="tag-cloud-link">Nature</a>
              </div>
            </div>
            
            <div class="about-author d-flex p-5 bg-light">
              <div class="bio align-self-md-center mr-5">
                <!-- <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4"> -->
              </div>
              <div class="desc align-self-md-center">
                <h3>Mirza Rahem Hasan</h3>
                  <p>Mirza is a 4th year student, pursuing B.Tech, from Jamia Millia Islamia.</p>
              </div>
            </div>


            

          </div> <!-- .col-md-8 -->
          <div class="col-md-4 sidebar ftco-animate">
           
            
            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <!-- <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div> -->
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169299/Website/site/media/website/images/blogimg1_vfyezo.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href={% url 'site:myth' %}>7 Myths About Menstruation That We Need To Bust Straight Away</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>Oct 15, 2021</a></div>
                    <div><a href="#"><span class="icon-person"></span>Anam Khan</a></div>
                    
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1623169298/Website/site/media/website/images/blog1_gjtepi.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href={% url 'site:climate' %}>Ten Women Shaping Climate Action In 2021</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>Oct 15, 2021</a></div>
                    <div><a href="#"><span class="icon-person"></span>Sultana Parween</a></div>
                    
                  </div>
                </div>
              </div>
            </div>

                        
          </div>

        </div>
      </div>
    </section> <!-- .section -->


  {% endblock content %}