{% extends "main.html" %} {% load static %} {% block title %} ENACTUS JMI| HOME {% endblock title %} 
{% block css %}
{% endblock css %}
{% block content %}
<div class="page-heading text-center"  id="imdaad-heading" style="background-image: url(https://res.cloudinary.com/enactusjmi/image/upload/v1626780766/Website/site/media/website/images/shrimati-banner_v6osdq.jpg); height: 400px;
padding-top: 150px;">

    <div class="container zoomIn animated"  >

        <h1 class="page-title" ><strong>SHRIMATI</strong><span class="title-under"></span></h1>
        <p class="page-description">

            Urdu, Help

           <br>
            One of the most important things you can do on this earth is to let people know they are not alone.

        </p>

    </div>

</div>

<div class="main-container" >

    <div class="fadeIn animated" style="background-color: #ffffff;">

        <div class="container">
         <br>
         <br>
            <p style="font-weight: bold;font-size: 20px">INTRODUCTION</p>
            <p style="text-align: justify;">
                <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1626780433/Website/site/media/website/images/shrimati-colour_twiun3.png" style="float: right;"
                class="img-responsive;margin-top:0px;" >
                Project Shrimati aims to provide a source of stable income to the survivors of domestic abuse and offers them an opportunity at self-dependency and self-sufficiency, alongside working on the grounds of creating eco-friendly reusable face masks and sanitary pads. The project aims to reduce plastic and sanitary waste disposal, hoping to provide an alternative to the non-biodegradable environmental hazard.
            </p>
            <p style="font-weight: bold;font-size: 20px">MISSION</p>
            <p style="text-align: justify;">

                Our objective with Project Shrimati is to tackle the problems that are very well still prevalent in our country such as unemployment, domestic abuse, plastic pollution and sanitary waste disposal, and also to uplift and empower the women of our society, providing them financial stability through employment.

            </p>
                <p style="font-weight: bold;font-size: 20px">OVERVIEW</p>
            <p style="text-align: justify;">

                
                  <p>
                    <li>
                      Shrimati aims to provide employment and a stable source of income to survivors of domestic abuse.
                    </li>
                    <li>
                      Aiming to reduce the accumulation of single use plastic waste from disposable sanitary napkins and face masks.
                    </li>
                    <li>
                      Creating a market for products manufactured using organic fiber material, providing an organic alternative to harmful chemical based products.
                    </li>
                  </p>
                
                <img src="https://res.cloudinary.com/enactusjmi/image/upload/v1626780680/Website/site/media/website/images/shrimati-pads_lfm8zr.jpg"  id="imgoverview" class="img-responsive" style="max-width:100%; margin-bottom: 10px; " >
             <br>
            <p style="font-weight: bold;font-size: 20px">SOCIAL</p>
            <li> Upliftment and empowerment of domestic abuse victims.</li>
            <li>Generation of Employment</li>
            <br>

            <p style="font-weight: bold;font-size: 20px">ECONOMIC </p>
            <li>Inspiring women to become financially independent.</li>
            <li>Making affordable reusable sanitary napkins that are cheaper than disposable sanitary napkins.</li>
            
            <br>
            <p style="font-weight: bold;font-size: 20px">ENVIRONMENTAL</p>
            <li>Minimisation of single use plastic and sanitary waste.</li>
            <li> Reduction of Carbon Footprint generated from the disposal of single use masks.
            </li>
            
            <br>
            <p style="font-weight: bold;font-size: 20px">MEANS OF EMPOWERMENT</p>
            <li>Empowering the survivors of domestic abuse by providing them employment and, in turn, a stable source of income.</li>
            <li>Base Product development around organic fiber material instead of harmful chemical products.
            </li>
            
            <br>


            
            

        </div> <!-- /.main-container  -->

    </div>

</div>
{% endblock content %}