{% extends "store/main.html" %}
{% load static %}
    {% block content %}
      
    
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="ti-home"></i> Home</a>
                        <span>FAQs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Faq Section Begin -->
    <div class="faq-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-accordin">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading active">
                                    <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                        Why bamboo?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Through our project, Irtiqa, we aim to provide an environmentally sustainable alternative to plastic and wooden products while promoting the growth of bamboo. Bamboo is one of the fastest growing plants on the planet. It regenerates naturally after harvesting, needs no irrigation and grows naturally pesticide free due to its antimicrobial properties. A grove of bamboo releases 35% more oxygen than an equivalent stand of trees. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">
                                       Are bamboo products truly a good alternative to wooden products?

                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Bamboo is a viable replacement for wood. It can be harvested in 3-5 years versus 10-20 for most softwoods. It can out yield pine 6 to 1 in biomass production.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">
                                        Who makes these products?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Our products are made by a community of bamboo artisans. All the money generated through the sale of our products is reinvested in the community to provide them with employment and to help them become self sufficient.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">
                                       Can the wax in the bamboo tea lights be refilled?


                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Yes, the wax in our bamboo tea lights can be refilled.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">
                                       What kind of wax is used in the bamboo tealights?



                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Our tealights are filled with paraffin wax.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">
                                       Is the wax used in the bamboo tea lights scented?
                                   </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>No, currently we are using unscented wax in our bamboo tealights.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseSeven">
                                    What are the dimensions of the bamboo tealights?
                                </a>
                                </div>
                                <div id="collapseSeven" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>The bamboo tealights have an internal diameter between 5.5 cm to 7cm and have a height of 4.5 cm.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseEight">
                               
What are the dimensions of the bamboo table lamps?



                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>The bamboo table lamps have a height of 33 cm and a width of 6 cm.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseNine">
                                   What is the length of the wire in the bamboo table lamps?

 

                                    </a>
                                </div>
                                <div id="collapseNine" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>The length of the wire in the bamboo table lamps is 120 cm.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTen">
                                      What is the content volume of the bamboo mugs?


                                    </a>
                                </div>
                                <div id="collapseTen" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>The content volume of the bamboo mugs is 250 ml.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseEle">
                                   
What is the length of the bamboo fruit bowl?


                                    </a>
                                </div>
                                <div id="collapseEle" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>The bamboo fruit bowl has a length of 30 cm.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwe">
                     
What is the height of a bamboo pen stand?

                 </a>
                                </div>
                                <div id="collapseTwe" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>The height of a bamboo pen stand is 15 cm.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThi">
                                 What is your packaging made of?

 
                                    </a>
                                </div>
                                <div id="collapseThi" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Our packaging is made of cardboard, and is recyclable.
 </p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFou">
                                   Do you ship all over India?


                                    </a>
                                </div>
                                <div id="collapseFou" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Yes, we ship to all states of India with varying shipping costs.
 </p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFiv">
                                   
I made a mistake in my order. What can I do?

                  
                                    </a>
                                </div>
                                <div id="collapseFiv" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>If you made a mistake in the information you provided in your order, you have 24 hours to notify the OLA Bamboo team. After 48 hours, we will be unable to cancel the order.
</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSi">
                                    
How do I become a distributor/reseller?

                                    </a>
                                </div>
                                <div id="collapseSi" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We look at all aspects when choosing our partners. If you are interested in becoming a partner of ours, please let us know at teamenactusjmi@gmail.com or call us at +918743905647.
 </p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSev">
                                  
I'm a Journalist / blogger - who can I contact for further info?

                  </a>
                                </div>
                                <div id="collapseSev" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>You can contact us at teamenactusjmi@gmail.com and let us know how we can help.</p>
                                    </div>
                                </div>
                            </div>
<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseEig">
                                     
Where can we find you on social media?



                   

                                    </a>
                                </div>
                                <div id="collapseEig" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We, love connecting with you on social media. You can find us here:<br>
Instagram- https://www.instagram.com/enactusjmi/  <br>
Facebook- https://www.facebook.com/EnactusJMI/  <br>
LinkedIn- https://www.linkedin.com/in/enactus-jamia-millia-islamia-52a0491a8/  <br>
Twitter- https://twitter.com/EnactusJMI  <br><br>


<b>For further details contact us at:</b><br>
Number: 8743905647<br>
Email: teamenactusjmi@gmail.com</p>
                                    </div>
                                </div>
                            </div>



 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Faq Section End -->
    {% endblock content %}

     